<div class="relative bg-white dark:bg-night-700">
  <div class="mx-auto px-5">
    <div class="flex items-center justify-between py-3.5 md:justify-start">
      <!-- Logo -->
      <div class="flex items-center justify-start sm:order-2 md:mr-10 w-28">
        <a [routerLink]="['/']">
          <img src="../../../../assets/images/obj--logo--marvel.jpg" />
        </a>
      </div>
       <!-- Profile menu -->
       <div class="items-center justify-end sm:order-4 md:flex md:flex-1 lg:w-0 text-dark-smoke text-sm">
        <span class="font-bold pr-2">João Vitor Batista</span>
        <span class="pr-2">Teste de Front-end</span>
        <span class="h-9 w-9 bg-slate-200 rounded-md flex justify-center items-center">JV</span>
      </div>
    </div>
  </div>
</div>
