<div class="relative bg-white dark:bg-night-700">
  <div class="mx-auto px-5">
    <div class="grid grid-cols-2 items-center justify-between py-3.5 md:justify-start">

      <div class="grid items-center md:mr-10 w-28">
        <a [routerLink]="['/']">
          <img src="../../../../assets/images/obj--logo--marvel.jpg" />
        </a>
      </div>

      <div
        class="grid-cols-2 flex items-start md:items-center justify-end sm:order-4 md:flex md:flex-1 text-dark-smoke text-sm">
        <div class="flex flex-col md:flex-row">
          <span class="font-bold pr-2">João Vitor Batista</span>
          <span class="pr-2">Teste de Front-end</span>
        </div>
        <div>
          <span class="h-9 w-9 bg-slate-200 rounded-md flex justify-center items-center">JV</span>
        </div>
      </div>
    </div>
  </div>
</div>
