<div class="px-10 py-4 sm:px-32 bg-dark-snow">
  <div class="grid grid-cols-1 pt-2_6">
    <h2 class="text-dark-smoke text-2xl text-center md:text-left md:text-4xl font-bold tracking-wide">
      Busca de personagens</h2>
    <p class="text-dark-smoke text-base md:text-xl font-bold text-center md:text-left pt-2 tracking-wide">Nome do
      personagem</p>
    <form class="example-form pt-4">
      <mat-form-field class="w-21 he-4">
        <input matInput [(ngModel)]="name" [ngModelOptions]="{standalone: true}" placeholder="Search">
        <mat-icon (click)="search()" matSuffix>search</mat-icon>
      </mat-form-field>
    </form>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-3 pt-2 text-sm text-smoke pb-2">
    <div class="pl-4">Personagem</div>
    <div class="hidden md:grid">Series</div>
    <div class="hidden md:grid">Eventos</div>
  </div>

  <div *ngIf="isLoading" class="loader-line"></div>

  <div *ngFor="let character of characters">
    <a [routerLink]="['/pages/characters-details/', character.id]"
      class="grid grid-cols-1 md:grid-cols-3 border-solid border-gray-300 hover:border-gray-400 border shadow-sm hover:shadow rounded-lg card bg-white py-4 mb-2 text-dark-smoke text-sm items-center">
      <div class="pl-4 font-bold flex items-center">
        <img class="w-20 float-left p-3 rounded-2xl"
          src="{{character.thumbnail.path}}.{{character.thumbnail.extension}}" alt="">
        <span class="pl-4">
          {{ character.name }}
        </span>
      </div>
      <div class="hidden md:grid">
        <span *ngIf="character.series.items[0]?.name; else noDataSeries">
          <ng-template ngFor let-item [ngForOf]="character.series.items" let-i="index">
            <p *ngIf="i < 3" class="text-sm">{{ item.name}}</p>
          </ng-template>
        </span>
        <ng-template #noDataSeries>
          <p class="italic">Sem series</p>
        </ng-template>
      </div>
      <div class="hidden md:grid">
        <span *ngIf="character.events.items[0]?.name; else noDataEvents">
          <ng-template ngFor let-item [ngForOf]="character.events.items" let-i="index">
            <p *ngIf="i < 3" class="text-sm">{{ item.name}}</p>
          </ng-template>
        </span>
        <ng-template #noDataEvents>
          <p class="italic">Sem eventos</p>
        </ng-template>
      </div>
    </a>
    <div *ngIf="!character" class="mx-8 px-6 py-4 sm:px-8">
      <h2 class="flex py-60 text-dark-smoke text-center items-center justify-center text-3xl font-bold">
        Ops! Não conseguimos encontrar nenhum resultado.
      </h2>
    </div>
  </div>
</div>

<pagination [totalItems]="total" (pageChanged)="pageChanged($event)" [itemsPerPage]="totalPages" previousText="&lsaquo;"
  nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" [boundaryLinks]="true" [maxSize]="limit">
</pagination>
